{:deps {:aliases [:cljs]}
 :builds
 {:node
  {:js-options {;; don't bundle any npm libs
                :js-provider :import}
   :compiler-options {:infer-externs :auto}
   :target :npm-module
   :runtime :node
   :devtools {:enabled false}
   :output-dir "packages/lib"
   :entries [cljs-poc.core]}
  :browser
  {:target :esm
   :output-dir "packages/js"
   :modules {:core {:exports {hello cljs-poc.core/hello}}}}}}
